#version: "3.9"

services:
  web:
    build: .
    container_name: flask_web
    ports:
      - "5001:80"   # host:container
    volumes:
      - .:/app
    environment:
      FLASK_ENV: development
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/mydb
      REDIS_URL: redis://redis:6379/0
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  nginx:
    image: nginx:alpine
    container_name: frontend_nginx
    ports:
      - "8081:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro  # Serve static frontend
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro  # Custom nginx config
    depends_on:
      - web  # Frontend needs API

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
